 
webapp/swf/com/adobe/
webapp/swf/com/greensock/*.txt
webapp/swf/com/greensock/*.as
webapp/swf/com/greensock/*/*.as
!webapp/swf/com/greensock/TweenLite.as
 
 
node_modules/
webapp/
frontend/src/image/bg/bg_wrap_lotmain.jpg
frontend/src/image/bg/bg_wrap_lottery.jpg
