 
frontend/src/swf/com/adobe/
frontend/src/swf/com/greensock/*.txt
frontend/src/swf/com/greensock/*.as
frontend/src/swf/com/greensock/*/*.as
!frontend/src/swf/com/greensock/TweenLite.as
 
 
node_modules/
webapp/
frontend/src/image/bg/bg_wrap_lotmain.jpg
frontend/src/image/bg/bg_wrap_lottery.jpg
frontend/src/image/tmp/
